* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #eef8ff;
  color: #303160;
}
/* NAV BAR */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2.5%;
  font-variant: all-small-caps;
  font-weight: 900;
  font-size: 1.8em;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-links a {
  text-decoration: none;
  color: #e43c13;
}

.nav-links a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #62bad0;
}

/* OVERALL CONTENT */

.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 2em 4em;
}
@media (min-width: 1200px) {
  .projects-content {
    padding: 2em 16em;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .projects-content {
    padding: 2em 10em;
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  .projects-content {
    padding: 2em 2em;
  }
}
@media (max-width: 400px) {
  .projects-content {
    padding: 2em 0em;
  }
}
/* HEADING */
.projects-content h1 {
  background-color: #f1ffe7;
  border-radius: 0.3em;
  box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.1);
  padding: 0.3em 2.2em;
  /* padding: 0.8em; */
  font-size: 2.3rem;
}

/************ TEXT ADVENTURE GAME **************/
.text-adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004e89;
  border-radius: 1.8em;
  margin-bottom: 3em;
  color: rgb(244, 242, 238);
  padding: 1.2em 0 2.5em 0;
  opacity: 0;
  animation: fadeIn 1.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text-adventure h2 {
  padding: 0.5em;
  font-size: 2em;
}

.text-adventure p {
  font-size: 1.2em;
}
/* why do i not need this????
/* .prompt-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
  padding: 0 2em 0 5em;
} */
#adventure-prompt {
  display: flex;
  flex: 1 1 auto; /* Allows the image to grow and shrink */
  width: 15em;
  height: 14em;
  border-radius: 1em;
  margin-top: 2em;
}

#adventure-button {
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 2em;
  background-color: rgb(246, 246, 101);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Keyframes for the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the shake animation on hover */
#adventure-button:hover {
  animation: shake 0.6s ease;
}

/* .adventure-outcomes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.5em;
}
.adventure-outcomes img {
  display: flex;
  flex: 1 1 auto;
  width: 13em;
  height: 13em; 
  border-radius: 1em;
} */

/************* DOM SNAKE GAME *****************/

.snakegame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7efde;
  border-radius: 1.8em;
  margin-bottom: 3em;
  color: #2b2b26;
  padding: 1.2em 0 2.5em 0;
  opacity: 0;
  animation: fadeIn 1.3s ease-in-out forwards;
}

.snakegame h2 {
  padding: 0.5em;
  font-size: 2.5em;
}

#snakegame-pic {
  display: flex;
  flex: 1 1 auto; /* Allows the image to grow and shrink */
  width: 16em; /* Prevents the image from exceeding its natural size */
  height: 14em; /* Maintains the aspect ratio */
  border-radius: 1em;
  margin-top: 1em;
}
.snakegame p {
  font-size: 1.2em;
}
.prompt-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
  padding: 0 2em 0 5em;
}

#snakegame-button {
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 2em;
  background-color: #e43c13;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#snakegame-button:hover {
  animation: shake 0.6s ease;
}
/************ TIC TAC TOE IN REACT ****************/

.ttt-react {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004e89;
  border-radius: 1.8em;
  color: rgb(244, 242, 238);
  padding: 1.2em 0 2.5em 0;
  opacity: 0;
  animation: fadeIn 1.3s ease-in-out forwards;
}
.ttt-react h2 {
  padding-top: 0.5em;
  font-size: 2em;
}

#under-construction {
  display: flex;
  flex: 1 1 auto; /* Allows the image to grow and shrink */
  width: 32em; /* Prevents the image from exceeding its natural size */
  height: 18em; /* Maintains the aspect ratio */
  border-radius: 1em;
  margin-top: 2em;
}

/* FOOTER */
footer {
  /* position: sticky; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  color: #e43c13;
  /* TODO: Make footer stay at the bottom on all device sizes */
}
.socials a {
  text-decoration: none;
}
.socials img {
  width: 65px;
  height: 65px;
}
.socials img:hover {
  transform: translateY(-10px);
}
