* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2.5%;
  font-variant: all-small-caps;
  font-weight: 900;
  font-size: 1.8em;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-links a {
  text-decoration: none;
  color: #e43c13;
}

.nav-links a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #e43c13;
}
/* BODY */
body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #e7efe7;
  color: #e43c13;
}
main {
  padding: 2em 4em;
}
/* BOOKSHELF HEADING */
.bookshelf-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0 0 0;
}
.bookshelf-heading h1 {
  font-size: 2.3rem;
  padding: 0.3em 2.2em;
  color: #52433d;
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.1);
}
/* .bookshelf-heading img {
  object-fit: contain;
  padding-top: 0.2em;
  max-height: 3.5em;
} */
/* BOOK CARDS */
.books-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
  padding: 2em 0;
  opacity: 0;
  animation: fadeIn 1.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  /* width: 20em;
  height: 25em; */
  background-color: whitesmoke;
  box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.1);
}
.book-image {
  flex: 1 1 auto;
  width: 14em;
  height: 20em;
  border-radius: 0.5em;
}
@media (max-width: 800px) {
  .book-image {
    width: 12em;
    height: 18em;
  }
}
/* FOOTER */
footer {
  /* position: sticky; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  /* TODO: Make footer stay at the bottom on all device sizes */
}
.socials a {
  text-decoration: none;
}
.socials img {
  width: 65px;
  height: 65px;
}
.socials img:hover {
  transform: translateY(-10px);
}
