* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAV BAR */
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2.5%;
  font-variant: all-small-caps;
  font-weight: 900;
  font-size: 1.6em;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-links a {
  text-decoration: none;
  color: #e43c13;
}

.nav-links a:hover {
  color: black;
}

.nav-links a:visited {
  color: #e43c13;
}
/* BODY */
body {
  background-color: #ece9e1;
  color: #e43c13;
}

/* HERO SECTION */
.hero {
  padding: 20% 4% 25% 4%;
  /* background-image: url();
  background-size: cover;
  background-repeat: no-repeat; */
}
.hero h1 {
  padding-bottom: 3%;
  font-size: 4em;
}
.hero p {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
}

/* FOOTER */
footer {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  /* TODO: Make footer stay at the bottom on all device sizes */
}
.socials img {
  width: 65px;
  height: 65px;
}
