* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2.5%;
  font-variant: all-small-caps;
  font-weight: 900;
  font-size: 1.6em;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-links a {
  text-decoration: none;
  color: #e43c13;
}

.nav-links a:hover {
  color: black;
}

.nav-links a:visited {
  color: #e43c13;
}

body {
  background-color: #ece9e1;
  color: #e43c13;
}

.hero {
  padding: 20% 4% 25% 4%;
}

.hero h1 {
  padding-bottom: 3%;
  font-size: 4em;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  /* TODO: Make footer stay at the bottom on all device sizes */
}
