* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 2.5%;
  font-variant: all-small-caps;
  font-weight: 900;
  font-size: 1.6em;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.nav-links a {
  text-decoration: none;
  color: #e43c13;
}

.nav-links a:hover {
  color: black;
}

.nav-links a:visited {
  color: #e43c13;
}

body {
  background-color: #ece9e1;
  color: #e43c13;
}
.content h1 {
  padding-top: 0.8em;
  font-size: 2.8em;
}
.content p {
  color: #006992;
}
footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  /* TODO: Make footer stay at the bottom on all device sizes */
}
